body {
	background: #FFFFFF;
	font-size: .90em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: black;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
.msginfo {
	border: 1px solid #99c4ea;
	background: #d1e4f3 url(../images/notifications.png) no-repeat 0 -156px;
}
.notification a.close {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 5px;
	right: 5px;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
}
.notification a.close:hover {
	cursor: pointer;
}
.msginfo a.close {
	background-position: -42px 0;
}
.notification {
	height: 51px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 1px 1px 2px #ddd;
}
.notification p {
	margin: 14px 10px 0 75px;
	color: #333;
}
#bottom_ribbon {
	background: white;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	border-top: 2px solid #036;
}
#top_ribbon {
	background: white;
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0 auto;
	border-bottom: 2px solid #036;
	min-width:1200px;
}
header {

	padding-bottom: 1%;
	margin: auto;
	width: 50%;
	border-bottom: 2px solid #2B597E;
	margin-bottom: 2%;
}
.anchor a:hover {
	color: white;
}
#bottom_ribbon2 {
	border-top: 2px solid #036;
	background: white;
	padding: 1%;
	height: 50px;
	width: 50%;
	bottom: 0;
	margin: 5% auto;
}
#footer_text2 {
	font-weight: 300;
	letter-spacing: 2px;
	margin: 1% auto;
	font-size: 1em;
	color: #036;
	height: 30px;
	display: block;
	overflow: visible;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.pagination.flip a {
	text-decoration: none;
}
#footer_text {
	font-weight: 300;
	text-align:center;
	letter-spacing: 2px;
	margin: 0 auto;
	font-size: 1em;
	color: #036;
	width: 90%;
	height: 30px;
	display: block;
	overflow: hidden;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
#wrapper {
	width: 100%;
	min-width: 980px;
	margin: 0 auto;
	height: 0 auto -120px auto !important;
}
#footer {
	width: 95%;
	margin: 20px 2% 0 2%;
	text-align: center;
}
#inner_wrapper {
	width: auto;
	margin: 0 auto;
	padding: 5px;
	overflow: visible;
	min-height: 500px;
	position: relative;
	top: 150px;
	min-width: 980px;
}
#sub_menu {
	overflow: hidden;
	margin-bottom: 10px;
}
.sub_menu_link {
	height: 30px !important;
	line-height: 30px !important;
	font-size: 10px !important;
	letter-spacing: 0.5px !important;
}
#main_content {
	/*border: 2px solid #F5F5F5;
	 /*overflow: hidden;*/
}
#top-panel {
	overflow: visible;
	width: 100%;
	height: 8em;
	position: fixed;
	background: white;
	z-index: 5;
	margin: 0px;
}
/*.logo {
 width: 100px;
 height: 100px;
 position: relative;
 background: url("../images/coat_of_arms-resized.png") no-repeat;
 }*/
.logo {
	background: url('../images/coat_of_arms-resized.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
	max-width: 100%;
	height: auto;
}
.top_logo{
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  
}
#main_wrapper {
	/*overflow: hidden;*/
	border: none;
}
#top_menu {
	min-width: 200px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -5px;
}
#top_menu a {
	font-size: 14px;
	font-weight: bold;
}
.welcome_msg {
	position:fixed;
	margin-top: 2.5%;
	left: 63%;
	text-align: right;
	color: #2B597E;
	padding: 0.5%;
	width: 35%;
	float: right;
}
.welcome_msg a {
	color: rgb(24, 161, 214);
}
#my_profile_link {
	background-color: #00B831;
	width: auto;
	padding: 0 10px 0 10px;
}
#my_profile_link:hover {
	background-color: white;
	cursor: pointer;
}
.top_menu_link {
	float: left;
	width:100px;
	height: 40px;
	line-height: 40px;
	color: white !important;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	text-align: center;
	background: rgb(43, 89, 126);
	border: 1px solid rgba(0, 0, 0, 0.2);
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2;
}
#my_profile {
	width:110px !important;
	margin: 0px !important;
	padding: 0px !important;
	line-height: 40px;
}
.first_link {
	width:100px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-right: -5px;
	position: relative;
	z-index: 1;
}
.last_link {
	width:100px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: -5px;
	position: relative;
	z-index: 1;
}
.top_menu_active {
	color: #036 !important;
	background: #FFFFFF !important;
}
.top_menu_link:hover {
	background: white !important;
	color: black !important;
	text-decoration: none;
}
.banner_text {
	font-size: 1.1em;
	color: #000;
	/*
	 font-weight: 100;
	 letter-spacing: -1px;
	 margin: .2% 0 0 %;
	 text-shadow: none;
	 text-shadow: 0 1px rgba(0, 0, 0, 0.1);

	 width: 500px;
	 height: 30px;
	 display: block;*/
	/*overflow: hidden;*/

}
input[type = email]:hover, input[type = password]:hover, input[type = text]:hover, input[type = url]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
input[type = email]:focus, input[type = password]:focus, input[type = text]:focus, input[type = url]:focus {
	outline: none;
	border: 1px solid #4d90fe;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
input[type = email][disabled = disabled], input[type = password][disabled = disabled], input[type = text][disabled = disabled], input[type = url][disabled = disabled] {
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
}
input[type = email][disabled = disabled]:hover, input[type = password][disabled = disabled]:hover, input[type = text][disabled = disabled]:hover, input[type = url][disabled = disabled]:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input[type =
"email"], input[type = "password"], input[type = "text"], input[type = "url"], select {
	display: inline-block;
	margin: 0;
	padding-left: 8px;
	background: white;
	border: 1px solid #D9D9D9;
	border-top: 1px solid silver;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.action_button:hover {
	cursor: pointer;
	border: 1px solid #2FB74F;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #36D148;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#46EB59),to(#36D148));
	background-image: -webkit-linear-gradient(top,#46EB59,#36D148);
	background-image: -moz-linear-gradient(top,#46EB59,#36D148);
}
.f_left {
	float: left;
}
.action_button {

	width: 150px;
	height: 15px;
	line-height: 15px;
	color: white;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
	display: block;
	text-align: center;
	background: #36D148;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 20px;
	letter-spacing: 1px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	margin: 5px 10px;
}
.button {
	display: inline-block;
	min-width: 54px;
	text-align: center;
	color: #555;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	padding: 0 8px;
	line-height: 27px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-ms-transition: all 0.218s;
	-o-transition: all 0.218s;
	transition: all 0.218s;
	border: 1px solid #666;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #999;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}
.button:hover {
	border: 1px solid black;
}
.submit-button {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #555;
	font-size: 11px;
	font-weight: bold;
	padding: 0 8px;
	line-height: 27px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 20px;
	float: right;
	border: 1px solid #DDD;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
	cursor: pointer;
}
.submit-button:hover {
	border: 1px solid black;
}
/* Tables */

table.data-table {
	border: 2px solid #DDD;
	margin: 10px auto;
	border-spacing: 0px;
}
table.data-table caption {
	letter-spacing: 1px;
	font-weight: bold;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	font-size: 14px;
}
table.data-table th, table#drugs_table th {
	border: none;
	color: #036;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
	background-color: #F5F5F5;
	border: 2px solid #DDD;
	border-top: none;
}
table.data-table td, table th {
	padding: 4px;
}
table.data-table td {
	border: none;
	border-left: 2px solid #DDD;
	border-right: 2px solid #DDD;
	height: 30px;
	margin: 0px;
	max-width: 350px;
}
table.data-table tr.normal_row td {
	background: white;
}
table.data-table tr.alternate_row td {
	background: #F1F1F1;
}
#view_content {

}
.link {
	text-decoration: none;
	color: #ED5D3B;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 1.5px;
	margin-left: 4px;
}
.link:hover {
	color: black;
	cursor: pointer;
}
.label {
	font-weight: bold;
	margin: 5px 0 .5em;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	color: #036;
}
#system_title {
	min-width:300px;
	top: 10px;
	position: absolute;
	left: 120px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
}
.ui-accordion .ui-accordion-header a {
	display: block;
	font-size: 12px !important;
	color: #036 !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
	font-weight: bold;
}
.ui-accordion .ui-accordion-content {
	padding: 0 !important;
	padding-left: 20px !important;
}
legend {
	font-weight: bold;
	margin: 5px 0 .5em;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	color: #036;
}
/*NOTIFICATION MESSAGES*/
.message, .msg {
	display: block;
	color: white;
	padding: 1%;
	border-radius: 5px;
	font-size: 16px;
	-webkit-box-shadow: 0 2px 6px 0.5px #000;
	-moz-box-shadow: 0 2px 6px 0.5px #000;
	box-shadow: 0 2px 6px 0.5px #000;
	-o--box-shadow: 0 2px 6px 0.5px #000;
	text-align: center;
	margin: 0% auto 1% auto;
	width: 65%;
	text-align: center;
	font-weight: bold;
}
.error {
	background: red;
	/*background-image: linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);
	background-image: -o-linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);
	background-image: -moz-linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);
	background-image: -webkit-linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);
	background-image: -ms-linear-gradient(bottom, rgb(179,43,43) 25%, rgb(194,74,74) 99%);*/
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(179,43,43)),
	color-stop(0.99, rgb(194,74,74)));
	color: white;
	padding: .5%;
	border-radius: 5px;
	font-size: 16px;
	-webkit-box-shadow: 0 2px 6px 0.5px #000;
	-moz-box-shadow: 0 2px 6px 0.5px #000;
	box-shadow: 0 2px 6px 0.5px #000;
	-o--box-shadow: 0 2px 6px 0.5px #000;
	text-align: center;
	margin: 3% auto 1% auto;
	text-align: center;
	font-weight: bold;
}
.success {
	background: #74ff6b; /* Old browsers */
	background: -moz-linear-gradient(top, #74ff6b 0%, #00bc2c 51%, #005700 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74ff6b), color-stop(51%,#00bc2c), color-stop(100%,#005700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #74ff6b 0%,#00bc2c 51%,#005700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #74ff6b 0%,#00bc2c 51%,#005700 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #74ff6b 0%,#00bc2c 51%,#005700 100%); /* IE10+ */
	background: linear-gradient(to bottom, #74ff6b 0%,#00bc2c 51%,#005700 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#74ff6b', endColorstr='#005700',GradientType=0 ); /* IE6-9 */
}
.info {
	background: #6697e8; /* Old browsers */
	background: -moz-linear-gradient(top, #6697e8 0%, #2f83f9 49%, #2c55ea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6697e8), color-stop(49%,#2f83f9), color-stop(100%,#2c55ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6697e8 0%,#2f83f9 49%,#2c55ea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6697e8 0%,#2f83f9 49%,#2c55ea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6697e8 0%,#2f83f9 49%,#2c55ea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6697e8 0%,#2f83f9 49%,#2c55ea 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#6697e8', endColorstr='#2c55ea',GradientType=0 ); /* IE6-9 */
}
.information {
	border: 1px solid #688fdc;
}
.message:hover {
	cursor: pointer;
}
.alert1 {

	width: 19px;
	height: 19px;
	font-size: 10px;
	font-weight: 600;
	color: #FFF;
	text-align: center;
	line-height: 19px;
	display: block;
	border-radius: 100px;
	position: absolute;
	top: 6px;
	right: 1px;
	z-index: 100;
}
.red_alert {
	background: red;
}
.green_alert {
	background: green;
}
.green {
	color: green;
	font-weight: bold;
}
#regimens_table td+ td {
	text-align: center;
}
.red {
	color: red;
	font-weight: bold;
}
#start_date, #end_date, #date_of_appointment, #display_year {
	color: rgb(45, 173, 13);
	font-size: 14px;
	border: none;
	font-weight: 800;
	width: 100px;
	padding-bottom: 0px;
	height: 25px;
	text-align: center;
}
#start_date:hover, #end_date:hover, #date_of_appointment:hover, #display_year:hover {
	cursor: pointer;
}
hr {
	margin: 0 auto;
}
.navbar {
	width: 500px;
	position: static;
	top: 5px;
	margin-bottom: 20px;
	float: left;
}
@media print {
	#inf_patient_listing, #inf_drug_listing, #inf_drug_summary {
		display: none;
	}
	.fltrow, .navbar, .ui-widget-header {
		display: none;
	}
	.table-bordered th, .table-bordered td {
		border-left: 1px solid #ddd;
	}
	table.dataTable tr.odd {
		background-color: rgb(235, 236, 238);
	}
}
tr th {
	cursor: pointer;
}
.brand {
	cursor: pointer;
}
/*
 * Facility Dashboard
 *
 */
.center-content h3, .full-content h3, .main-content h3, .left-content h3 {
	line-height: 2em;
	-webkit-margin-before: 0.5em;
	color: #fff;
	font-size: 1em;
	padding: 0 0 0 1em;
	background: #2B597E;
	box-shadow: 0 1.2px 3px 1px #000;
	-webkit-box-shadow: 0 1.2px 3px 1px #000;
}
.left-content, .right-content, .center-content {
	position: relative;
}
.main-content {
	width: 100%;
}
.left-content {
	/*padding: 10.5% 0.5% 0.5% 1%;
	width: 15.3%;
	float: left;
	margin-bottom: 2%;*/
}
.left-content ul {
	font-size: 0.9em;
}
.center-content h3 {
	margin: 0 0 1% 0;
}
.center-content {
	/*float: right;
	padding: 11% 1% 1% 1%;
	width: 80%;
	margin: 0 0 0 1%;
	padding-bottom: 5%;
	display: inline-block;*/
}
.full-content {
	width: 95%;
	margin: auto;
	padding: 10% 1% 5% 1%;
	zoom: 0.8;
}

#ui-datepicker-div{
	zoom:0.8;
}

.full-content form {
	width: 100%;
}
.right-content {
	width: 19%;
	float: right;
}
.f_right {
	float: right;
}
ul, li {
	list-style: none;
	margin: 0;
}
ul {
	text-align: left;
}
ul li {
	display: block;
}
ul li.last {
	margin-right: 0;
}
#stock_level th {
	background: #999;
}
.high_priority {
	color: red;
}
.low_priority {
	color: orange;
}
/**
 * 	Notifications
 */
.status-title, .status-value {
	padding: 1%;
}
.status-title {
	display: inline-block;
}
.status-value {
	display: inline-block;
	color: #999
}
.notif {

	margin-top: 2%;
}
/**
 * 	Admin Template Design
 */
#top-panel {
	overflow: visible;
}
#my_profile_link_container .generated_link {
	display: none;
}
#my_profile_link_containe {
	min-width: 200px !important;
	background-color: red;
	height: 100px;
}
.temp_link {
	font-size: 10px;
	width: 100px !important;
	background-color: #B80000;
	margin: 0px;
}
.dataTables_wrapper {
	/*width: 80%;*/

	margin: 0 auto;
	position: static;
}
table .dataTables {
	font-size: 0.8em;
}
.dataTables_scroll, .dataTables_scrollHead, .DataTables_sort_wrapper {
	position: static;
}
table.setting_table {
	border: solid;
	border-color: #666;
	border-width: 1px;
}
.setting_table td {

	max-width: 300px;
}
.sidebar-nav-fixed {
	/*/*padding: 9px 0;**/
	position: fixed;
	left: 30px;
	top: 157px;
	width: 250px;
}
.well {
	margin-bottom: 0px;
}
.btn-xlarge {
	min-width: 100%;
}
.btn-group {
	font-size: 20px;
}
.hero-unit {
	padding: 0px;
}
.btn {
	margin: 3px;
	padding-left: 25px;
	padding-right: 25px;
}
.btn_small {
	margin: 3px;
	padding-left: 25px;
	padding-right: 25px;
}
.rowCount-grid {
	color: green;
}
.blue {
	color: #000044;
}
.btn .caret {
	margin: 0 auto;
	vertical-align: middle;
	margin-left: 10px;
}
#profile_list {
	right: 0;
	left: auto;
}
/**
 * 	End of Admin Template Design
 */

/**
 * 	Styling Facility Information
 */
#facility_name {
	color: #2B597E;
	font-weight: bold;
	/*margin-top: 5px;
	 font-size: 1.1em;*/
}
.full-content #facility_name {
	font-size: 1.5em;
}
#synchronize_button {
	display: none;
	width: 200px;
	margin: 0;
	height: 40px;
	position: absolute;
	top: 3.5px;
	left: 30px;
	line-height: 40px;
}
/**
 * 	Styling Banner Text
 */
.banner-title {
	font-size: 1.2em;
	font-weight: bold;
}
.banner-subtitle {
	font-size: 0.9em;
}
/**
 * Styling Template
 */
#my_profile_link_container .generated_link {
	display: none;
}
.temp_link {
	font-size: 10px;
	width: 100px !important;
	background-color: #B80000;
	margin: 0px;
}
.dataTables_wrapper {
	width: 80%;
	margin: 0 auto;
}
table.setting_table {
	border: solid;
	border-color: #666;
	border-width: 1px;
}
.setting_table td {

	max-width: 300px;
}
.ui-widget-header {
	background: #2B597E;
	color: #fff;
}
.btn .caret {
	margin: 0 auto;
	vertical-align: middle;
	margin-left: 10px;
}
#profile_list {
	right: 0;
	left: auto;
}
/**
 * 	Login Forms
 */
#signup_form {
	margin-top: 5%;
	margin-bottom: 2%;
	height: 30%;
	min-height: 350px;
	border-radius: 5px;
	background: #2B597E;
	padding: 1%;
	width: 40%;
	min-width: 350px;
	margin: auto;
	box-shadow: 0 1.2px 3px 1px #000;
	-webkit-box-shadow: 0 1.2px 3px 1px #000;
	color: white;
}
.adt {
	color: black;
	float: right;
	margin-top: 40px;
}
.adt sub {
	color: #2B597E;
	font-weight: bold;
}
#signup_form a {
	color: black;
}
#signup_form a:hover {
	color: white;
}
.login-form {
	margin: auto;
	width: 80%;
}
.login-form input[type="text"], .login-form input[type="password"] {
	width: 100%;
	height: 1.7em;
	font-size: 1.6em;
	margin: auto;
	margin-bottom: 2em;
	padding: 1%;
}
.login-form input[type="submit"] {
	width: 40%;
	display: block;
	margin: 0 0 1em 0;
}
.login-form input[type="checkbox"] {
	width: 5%;
}
#login-other {

	display: block;
}
.short_title {
	height: 40px;
	padding: 5px;
	margin: 0 0 0.2em 0;
	font-size: 2em;
	color: #000;
}
.remember {
	float: left;
}
.remember-label {
	font-weight: normal;
	color: #666;
	padding: 0 0 0 .4em;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: inline;
	float: left;
}
.forgotten-password {
	float: right;
}
#main_wrapper {
	width: auto;
	border: 0px;
}
#history_table_wrapper{
	width:100% !important;
}
/**
 * 	Dashboard Tiles
 */
.tile {
	display: inline-block;
	float: left;
	width: 49%;
	height: 50%;
	padding: 0 0.5% 0.5% 0.5%;
	margin-bottom: 2%;
}
.tile-half {
	height: 50%;
	display: block;
}
.graph {
	height: 99%;
	overflow-x: hidden;
	overflow-y: auto;
}
/**
 * 	Styling for Dashboard
 */
#environment_variables {
	width: 600px;
	margin: 0 auto;
}
#synchronize {
	text-align: left;
	font-size: 16px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
	position: absolute;
	right: 15px;
	top: 60px;
	color: #036;
	border: 2px solid #DDDDDD;
	width: 300px;
	height: 55px;
	padding: 2px;
	overflow: hidden;
}
#loadingDiv {
	width: 60px;
	margin: 0 auto;
	/*background: url("../images/loading_spin.gif") no-repeat;*/
}
#main_container {
	width: 100%;
}
#main_sidebar {
	width: 20%;
	border: 1px solid #DDD;
	height: 300px;
	float: left;
	margin-left: 2%;
}
#main_contentbar {
	width: 71%;
	border: 1px solid #DDD;
	height: 600px;
	float: right;
	margin-right: 5%;
}
#maincontent_header {
	height: 30px;
	background: #DDD;
	font-size: 20px;
	width: auto;
	padding: 5px;
}
#main_videocontent {
	width: auto;
	border: 1px solid #FFF;
	padding: 5px;
}
#main_manualcontent {
	height: 100%;
	width: auto;
	border: 1px solid #FFF;
	padding: 5px;
}
.tleft {
	float: left;
}
.tright {
	float: right;
}
.tmiddle {
	float: left;
	margin-left: 3.5%;
	margin-right: 3%;
}
.bleft {
	float: left;
}
.bright {
	float: right;
}
.bmiddle {
	float: left;
	margin-left: 3.5%;
	margin-right: 3%;
}
div#manualcontent {
	position: relative;
	padding-left: 200px;
}
div#manualcontent > div {
	min-height: 300px;
}
div#manualcontent .ui-tabs-nav {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 200px;
	padding: 5px 0px 5px 5px;
}
div#manualcontent .ui-tabs-nav li {
	left: 0px;
	width: 195px;
	border-right: none;
	overflow: hidden;
	margin-bottom: 2px;
}
div#manualcontent .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: right;
}
div#manualcontent .ui-tabs-nav li.ui-tabs-selected {
	border: none;
	border-right: solid 1px #fff;
	background: none;
	background-color: #fff;
	width: 200px;
}
div#manualcontent .ui-tabs-panel {
	height: 700px;
	overflow-x: hidden;
	overflow-y: auto;
}
#main_manualcontent ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
#main_manualcontent li {
	border-bottom: 1px solid #90bade;
	margin: 0;
}
#main_manualcontent li a {
	display: block;
	padding: 10px 5px 10px 0.5em;
	background-color: #036;
	color: #fff;
	text-decoration: none;
	width: auto;
}
html > body #main_manualcontent li a {
	width: auto;
}
#main_manualcontent li a:hover {

	background-color: #00B831;
	color: #fff;
}
#weekly_summary {
	font-size: 10px;
	background: rgb(222, 245, 247);
}
#weekly_summary th {
	background: #DDD;
}
#weekly_summary td+ td {
	text-align: center;
}
#chart_area, #chart_area2, #chart_area3, #table1 {
	height: 80%;
}
.dataTables_wrapper {
	width: 100%;
}
/**
 * 	Form Formatting
 */

.content-row {
	display: table-row;
}
.full-content form {
	border-radius: 5px;
}
.column {
	padding: 1%;
	vertical-align: top;
	margin: auto;
	width: 30%;
	margin-left: 1%;
	display: inline-block;
}
.column-2 {
	width: 1111px;
	background: #f9f;
	display: table-cell;
}
.column-3 {
	width: 35%;
	margin: auto;
}
.column-5 {
	width: 50%;
	margin: auto;
}
.column fieldset, .column-2 fieldset, .column-3 fieldset {
	width: 96%
}
.column input, .column-2 input, .column-3 input {
	width: 61%;
}
.column input[type=checkbox] {
	width: 35%;
}
.column select, .column-2 select, .column-3 select {
	width: 61%;
}
.max-row {
	clear: both;
	width: 100%;
	display: block;
}
.mid-row {
	width: 35%;
	display: inline-block;
}
.mid-row input, .mid-row textarea {
	width: 100%;
}
.column textarea {
	width: 60%;
	height: 3em;
}
input[readonly] {
	background: #aac8e0;
	border: 1px solid #D9D9D9;
}
.mid-row input[type=radio] {
	width: auto;
}
.mid-row select {
	width: 80%;
}
/**
 * 	Users Styling
 */
.actions_panel {
	width: 200px;
	margin-top: 5px;
}
.hovered td {
	background-color: #E5E5E5 !important;
}
a {
	text-decoration: none;
}
.enable_user {
	color: green;
	font-weight: bold;
}
.disable_user {
	color: red;
	font-weight: bold;
}
.edit_user {
	color: blue;
	font-weight: bold;
}
.passmessage {

	display: none;
	background: #00CC33;
	color: black;
	text-align: center;
	height: 20px;
	padding: 5px;
	font: bold 1px;
	border-radius: 8px;
	width: 30%;
	margin-left: 30%;
	margin-right: 10%;
	font-size: 16px;
	font-weight: bold;
}
.errormessage {

	display: none;
	background: #FF0000;
	color: black;
	text-align: center;
	height: 20px;
	padding: 5px;
	font: bold 1px;
	border-radius: 8px;
	width: 30%;
	margin-left: 30%;
	margin-right: 10%;
	font-size: 16px;
	font-weight: bold;
}
#DataTables_Table_0_wrapper {
	font-size: 15px;
}
.red {
	color: red;
	font-style: italic;
}
input[type='text'], input[type='email'], input[type='tel'], input[type='password'] {
	height: 1.8em;
}
legend {
	font-size: 14px;
}
.button-bar {
	display: table-row;
	width: 100%;
}
/**
 * 	Customizing Bootstrap
 */
.badge {
	color: white;
	margin-left: 3%;
}
.btn-danger a {
	color: white;
}
.report_category a {
	font-size: 12px;
}
#patient_listing, .dataTable {
	margin: 0 auto;
	width: 100%;
	border: none;
	font-size: 13px;
	letter-spacing: 0.8px;
}
.astericks {
	color: red;
	font-size: 18px;
	font-weight: bold;
}
.start_regimen {
	color: red;
	font-weight: bold;
}
.icondose {
	background: #FFFFFF url(../images/dropdown.png) no-repeat 55px 4px;
	padding: 4px 4px 4px 22px;
	height: 5px;
}
#current_regimen {
	color: red;
	font-weight: bold;
}
#last_regimen_disp {
	color: blue;
	font-weight: bold;
}
.expiry small_text {
	width: 400px;
}
#drugs_section {
	width: 100px;
}
.astericks {
	color: red;
}
#submit_section {
	text-align: right;
}
table#history_table {
	font-size: 1em;
	border: 1px solid #000000;
}
table#history_table thead {
	background-color: #eee;
	color: #666666;
	font-weight: bold;
	cursor: default;
}
table#history_table td {
	font-size: 1em;
}
#submit_section {
	text-align: right;
}
.add, .remove {
	cursor: pointer;
}
#patient_information, #patient_pill_count, #patient_regimen_history, #patient_appointment_history {
	margin: 0 auto;
	border-top: 1px solid #B9B9B9;
	font-size: 12px;
	letter-spacing: 1px;
}
#patient_pill_count, #patient_information, #patient_regimen_history, #patient_appointment_history td th {
	padding: 10px;
}
#patient_appointment_history td {
	text-align: center;
}
#patient_regimen_history td {
	text-align: center;
}
#patient_information td {
	text-align: center;
}
#sub_title {
	margin: 15px;
	font-size: 16px;
}
#sub_title a {
	color: #000000;
	font-weight: bold;
}
#sub_title a:hover {
	color: #2B597E;
}
/**
 * 	Media Screens
 */
@media (min-width: 360px) and (max-width: 600px) {
	#footer_text {
		font-size: 0.3em;
	}
	.sidebar-nav-fixed {
		width: auto;
	}
}
@media (min-width: 601px) and (max-width: 800px) {
	#footer_text {
		font-size: 0.4em;
	}
	.sidebar-nav-fixed {
		width: auto;
	}
}
@media (min-width: 801px) and (max-width: 900px) {
	#footer_text {
		font-size: 0.5em;
	}
	.sidebar-nav-fixed {
		width: auto;
	}
}
@media (min-width: 901px) and (max-width: 1100px) {
	#footer_text {
		font-size: 0.6em;
	}
	.sidebar-nav-fixed {
		width: auto;
	}
}
#fmChangePassword {
	margin: 0 auto;
	margin-top: 2%;
	width: 45%;
}
.notCenter {
	margin: 0;
}
#msg_user_update {
	position: fixed;
	top: 20%;
	z-index: 200;
	left: 50%
}
.short {
	color: #FF0000;
}
.weak {
	color: #E66C2C;
}
.good {
	color: #2D98F3;
}
.notWhite {
	color: #999;
}
.settings {
	width: 98%;
	height: 54%;
	overflow: auto;
	margin-bottom:25px;
}
.settings_title {
	margin-left: 40px;
	margin-bottom: 10px;
	width: 500px;
}
/**
 * 	Orders
 */
#commodity-table {
	width: 70%;
	display: inline-block;
}
.regimen-table {
	width: 100%;
}
.regimen-table, #commodity-table {
	display: inline-block;
	vertical-align: top;
}
.regimen-table tbody th {
	font-size: 14px;
	padding-left: 40px;
}
.regimen-table input {
	margin: 5px;
}
.big-table th, .big-table td {
	border: 1px solid #000000;
	border-top: 1px solid #000000;
	vertical-align: middle;
}
.big-table input {
	width: 60px;
}
.big-table td.number {
	text-align: center;
}
.button {
	width: 100px;
	margin: 10px;
}
#comments-section td {
	border: 0px;
}
#comments-section th {
	text-align: left !important;
}
td {
	word-wrap: break-word;
}
.col_drug {
	width: 400px !important;
}
.accordion {
	height: 25px;
}
.facility_info {
	border: 1px solid #FFF;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 1%;
	background: #eee;
}
.facility_info_bottom {
	border: 1px solid #FFF;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 1%;
}
.facility_info th, .facility_info td, .facility_info_bottom th, .facility_info_bottom td {
	font-size: 0.9em;
}
.table-bordered input {
	width: 6em;
	height: 23px;
	margin: 0 auto;
}
#commodity-table tbody tr {
	font-size: 14px;
}
.regimen-table tbody td {
	font-size: 0.75em;
	color: #000;
	padding: 3px;
}
.ui-state-active {
	background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
}
.regimen-table thead .col_drug {
	font-size: 14px;
}
.dataTables_wrapper {
	width: auto;
	margin: 0 auto;
}
/**
 * 	Progress Bar
 */
#progressBar {
	width: 400px;
	height: 22px;
	border: 1px solid #111;
	background-color: #292929;
}
#progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #0099ff;
}
/**
 * 	Regimen drugs
 */
.reg_drug_name {
	width: 85%;
	display: inline;
}
/**
 * 	BLOCK
 */
.progress {
	margin: auto;
	margin-top: 5%;
	width: 80%;
}
table.dataTable {
	/*font-size: 11px;*/
	zoom: 0.95;
}
.nav_header>li>a{
	padding: 1px 1px 1px !important;
}

.container-fluid {
	padding-right: 0px !important;
	padding-left: 10px !important;
}

.navbar-fixed-top {
	top: 0 !important;
}
.small_text{
	font-size:0.5em;
	font-style:italic;
}
